---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="row">
      <div class="col-sm-4">
        <i class="glyphicon glyphicon-calendar"></i> <span>{{ page.date | date_to_string }}</span>
      </div>
      <div class="col-sm-4">
        <!-- Share links -->
      </div>
      <div class="col-sm-4">
        {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </div>
    </div>

  </header>

  <hr />

  <article>
    {{ content }}
  </article>

</div>
